{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    
    <div class="row">
        <form method="POST" class="w-100">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Reset ur Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info">Reset</button>
            </div>
        </form>
    </div>

{% endblock %}